:root{
  --pink: #ff5e6c;
  --beige: #fff5d7;
  --yellow: #feb300;
  --pinkLeaf: #ffaaab;
  --purple: #2f1728;
  --blue: #d7e1ff;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--purple);
  min-height: 100vh;
  background: linear-gradient(to right, var(--blue), var(--beige));
  font-family: 'VT323', monospace;
}

h1 {
  font-family: 'VT323', monospace;
  color: var(--purple);
  font-size: 45px;
  margin-bottom: 40px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.container {
  max-width: 1350px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.canvas-container {
  display: flex;
  justify-content: center;
}

.tool-canvas {
  position: fixed;
  top: -9999px;
}

.error-msg {
  font-size: 18px;
  margin: 10px 0;
}

.password-container input {
  font-family: 'VT323', monospace;
  font-size: 18px;
  padding: 10px;
  width: 300px;
  margin-bottom: 40px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 6px rgba(0,0,0,0.3);
}

input::placeholder {
  font-family: 'VT323', monospace;
}

.fa-eye, .fa-eye-slash{
  position: absolute;
  margin-top: 12px;
  margin-left: -30px;
  cursor: pointer;
  color: lightgray;
}

.slider-container {

}

.tools-container {
  margin-top: 5em;
}

.tool-slider {
  margin: 1em 0;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: var(--pinkLeaf);
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: var(--pink);
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: var(--purple);
      box-shadow: -80px 0 0 80px var(--pink);
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: var(--pink); 
}
input[type="range"]::-moz-range-track {  
  background-color: var(--pinkLeaf);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--pink); 
}
input[type="range"]::-ms-fill-upper {  
  background-color: var(--pinkLeaf);
}