:root {
    --blue1 : #011f4b;
    --blue2 : #03396c;
    --blue3 : #005b96;
    --blue4 : #6497b1;
    --blue5 : #b3cde0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: clamp(16px, 2.5vw, 25px);;
    background: linear-gradient(to right, var(--blue5), var(--blue4));
    min-height: 100vh;
    overflow: hidden;
}

.main-container {
    position: absolute;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--blue5);
    padding: 1em;
}

.score {
    color: var(--blue1);
    text-align: left;
}

#demoCanvas {
    position: absolute;
    padding: 0;
    margin: 0;
}